<h2>Thanks</h2>
<p>Many thanks to these awesome people:</p>

<h4>Aurelia</h4>
<p>She provides me invaluable support during my uncontrollable energy crises. Check out her <%= link_to 'website', 'http://fetesathemes.net'%>(in French), it's all about theme parties!</p>

<h4>Mike O.</h4>
<p>He introduced me to freewriting and its simple rules. That's when my mind went like this: Holy cow! I have to do this online! And remember:</p>
<blockquote>
    <p>When you don't know what to write, write: I don't know what to write, I don't know what to write.</p>
    <small><cite title="Source Title">Mike O.</cite></small>
</blockquote>

<h2>Technologies</h2>
<p>This application was ninja developed in 3 days using</p>
<ul class="unstyled">
    <li><%= link_to 'Ruby on Rails', 'http://rubyonrails.org'%></li>
    <li><%= link_to 'PostgreSQL', 'http://www.postgresql.org'%></li>
    <li><%= link_to 'Heroku', 'http://www.heroku.com'%></li>
    <li><%= link_to 'Twitter Bootstrap', 'http://twitter.github.com/bootstrap/index.html'%></li>
    <li><%= link_to 'Bootswatch', 'http://bootswatch.com'%></li>
    <li>Crazy people from <%= link_to '10io.net', 'http://blog.10io.net'%> (that's me)</li>
</ul>