<div class="masthead">
    <ul class="nav nav-pills pull-right">
        <li>
            <% if logged_in? %>
                <%= link_to('Logout', '/users/logout') %>
            <% else %>
                <%= form_tag('/users/login', :class => "form-inline") do %>
                    <div class="input-append">
                        <%= text_field_tag :email, nil, :placeholder => 'Your email', :class => "input-small", :type => "email", :id => "appendedInputButton" %>
                        <%= submit_tag 'Go', :class => "btn btn-primary" %>
                    </div>
                <% end %>
            <% end %>
        </li>
        <li>
            <%= link_to('About', 'about') %>
        </li>
        <li>
            <%= link_to('Credits', root_path) %>
        </li>
    </ul>
    <h3 class="muted"><%=image_tag("pencil.png")%><%= link_to "Red Pencil", root_path, :class => 'brand' %></h3>
</div>