<div class="masthead">
    <ul class="nav nav-pills pull-right">
        <li>
            <% if logged_in? %>
                <div class="btn-group">
                  <a class="btn btn-primary" href="/posts"><i class="icon-user icon-white"></i> <%= current_user.email %></a>
                  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/posts"><i class="icon-th-list"></i> Posts</a></li>
                    <li><a href="/users/logout"><i class="icon-remove"></i> Logout</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
                  </ul>
                </div>
            <% else %>
                <%= form_tag('/users/login', :class => "form-inline") do %>
                    <div class="input-append">
                        <%= text_field_tag :email, nil, :placeholder => 'Your email', :class => "input-small", :type => "email", :id => "appendedInputButton" %>
                        <%= submit_tag 'Go', :class => "btn btn-primary" %>
                    </div>
                <% end %>
            <% end %>
        </li>
        <li>
            <%= link_to('About', 'about') %>
        </li>
        <li>
            <%= link_to('Credits', 'credits') %>
        </li>
    </ul>
    <h1 class="muted"><%= link_to "Red Pencil", root_path, :class => 'brand' %></h1>
</div>