<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Redpencil" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
</head>
<body>
    <div class="container-narrow">
        <%= render 'layouts/navigation' %>
          
        <hr />
        
        <div class="row-fluid">
            <div class="span12">
                <%= render 'layouts/messages' %>
                <div class="container-padded">
                    <%= yield %>
                </div>
            </div>
        </div>
        
        <hr />
        
        <footer class="pull-right">
            <ul class="inline">
              <li><p>A <%= link_to '10io', 'http://blog.10io.net'%> crazy project</p></li>
              <li><p>Rocketed by <%= link_to 'Heroku', 'http://www.heroku.com'%></p></li>
            </ul>
            
        </footer>
    </div>
    <div id="overlay"></div>
</body>
</html>